<div class="ring-orange flex w-[380px] flex-col rounded-lg ring-1">
    <div class="gap-x-3 border-gray-300 bg-gray-50 p-4 flex flex-row items-center rounded-t-lg border-b">
        <div class="mt-1.5 grid h-full self-start">
            <div class="h-9 w-9 border-gray-300 bg-white grid place-content-center rounded-lg border">
                <img class="h-6 w-6" src="/icons/chart.png" />
            </div>
        </div>
        <div class="flex w-full flex-row justify-between">
            <div>
                <h3 class="text-secondary-500 text-lg font-semibold">
                    Analyse
                </h3>
                <h5 class="text-black text-sm">
                    Hier hast du die Übersicht über das analysierte Video.
                </h5>
            </div>
            <button @onclick="CloseModalAsync" type="button" class="bg-transparent h-8 w-8 stroke-gray-300 text-gray-100 ms-auto inline-flex items-center justify-center rounded-lg text-sm hover:stroke-gray-500 hover:bg-gray-200 hover:text-gray-300">
                <svg class="h-3 w-3 fill-primary-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path class="stroke-inherit" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
            </button>
        </div>
    </div>

    <div class="p-4 pt-3.5">
        <h5 class="text-orange align-center font-semibold">@VideoAnalysis.VideoName</h5>
        <div class="mt-2 max-h-48 flex w-full justify-between">
            <div class="flex-1">
                <img class="rounded" src="@VideoAnalysis.Thumbnail"/>
            </div>
            <div class="align-end flex flex-1 flex-col">
                <h5 class="ml-2">Kommentare: <span class="font-semibold">@VideoAnalysis.VideoComments.Count</span></h5>
                <a class="ml-2 text-orange cursor-pointer" href="@VideoAnalysis.Url" target="_blank">Video Link</a>
            </div>
        </div>
        <div class="h-36 mt-3 overflow-y-auto">
            <div class="h-48">
                @VideoAnalysis.AnalyzationResult
            </div>
        </div>
        <div class="h-36 mt-3 overflow-y-auto">
            <div class="h-48">
                @foreach (var comment in VideoAnalysis.VideoComments.OrderByDescending(v => v.LikeCount))
                {
                    <div class="mt-1 rounded border border-gray-300 text-sm">
                        <h5>
                            <span class="font-semibold">Likes: @comment.LikeCount</span>
                        </h5>
                        <h5>
                            <span>@comment.Text</span>
                        </h5>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="gap-x-3 border-gray-300 p-4 flex flex-row items-center justify-end border-t">
        <button @onclick="CloseModalAsync" class="p-1 ring-gray-300 rounded shadow-sm ring-1 ring-inset hover:bg-gray-50">Cancel</button>
    </div>
</div>
